.header{
    border: 2px solid red;
}

.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 30px;
}

.header-heading{
    margin-right: 20px;
}